body {
  background-color: #fcf7e8; }

.container {
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%);
  height: 80vh;
  margin-top: 8rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  background-color: #fcf7e8;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white); }

h2,
h3,
h4 {
  font-weight: 400; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none;
  color: black; }

ul,
li {
  list-style: none; }

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem; } }

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem; } }

.saludo {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #444444; }
  .saludo__bienvenida {
    text-align: center;
    color: #f3f3f3;
    padding: 0.5rem 0; }

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 2.3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: #f3f3f3;
  border-bottom: #010101 2px solid;
  font-weight: 600; }
  .header .logo__titulo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    margin-left: -30%; }
  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .header__usuario {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem; }

.main {
  background-color: #fcf7e8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }
  .main__texto {
    height: 50%;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start; }
  .main__img {
    width: 30vw; }
    .main__img .img {
      width: 100%;
      border-radius: 20%; }

.texto__uno {
  font-size: 2.5rem; }

.texto__dos {
  font-size: 1rem;
  margin-top: 1rem; }

.texto__btn {
  width: 250px;
  height: 80px;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #98c5ff;
  border-right: 2px solid #98c5ff;
  border-radius: 10px;
  background-color: #fff398a3;
  transition: all .3s ease-in-out; }
  .texto__btn:hover {
    background-color: #f47915;
    font-size: 2.2rem;
    padding: 1rem .2rem; }

.footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  background-color: #efeadc; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    font-size: 1.5rem; }
  .footer__pie {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #444444; }

.nav__item a {
  font-size: 1.2rem; }

.pie__logo a {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer; }

.pie__legal {
  width: 100%;
  text-align: left;
  padding-left: 3rem;
  color: white; }

.pie__redes {
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  margin-left: 3px;
  color: white; }

html {
  background-color: white; }

.rating span {
  font-size: 2rem;
  color: #d3b717; }

.productos {
  padding: 10rem 0; }

.productos__center {
  padding: 0 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem 1.5rem; }

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }

.image__container img {
  width: 100px; }

.productos__footer {
  padding: 1rem;
  width: 100%; }

.productos__footer h1 {
  height: 28px;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 500; }

.rating {
  margin: 1rem 0; }

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }

.btn {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1rem 1.8rem;
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out; }

.btn:hover {
  background-color: #0751a6;
  color: white;
  border: 1px solid #0751a6; }

.price {
  font-weight: 700;
  font-size: 1.8rem; }
