@charset "UTF-8";
/*
    
  Con este reset vamos a resolver:
    游녤 Unificar el uso de Custom Properties
    游녤 Problemas de box-model m치s generales
    游녤 Problemas con imagenes, v칤deos e iconos svg
    游녤 Problemas con tipograf칤as y etiquetas input en formularios
    游녤 Unificar la tipograf칤a de todas las etiquetas de una web

*/
/* Aqu칤 definimos las Custom properties */
:root {
  --color-primario: #181818;
  --color-secundario: #f0f0f0;
  /* Tipograf칤a */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana; }

/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primario: black;
    --color-secundario: white; } }

/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none; } }

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en p치rrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth; }

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario); }

/* Nivelamos problemas de tipograf칤as y colocaci칩n de formularios */
/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* (Prob치ndolo, no usar en producci칩n) En el caso de a침adir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipograf칤a para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale; }

.container {
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%);
  min-height: 80vh;
  margin-top: 7.5rem; }

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem; } }

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem; } }

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0 1rem 0; }
  .bottom .btn {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    color: #222;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out; }
  .bottom .btn:hover {
    background-color: #0751a6;
    color: white;
    border: 1px solid #0751a6; }

h1 {
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 500; }

.rating {
  margin: 0.5rem 0; }
  .rating span {
    font-size: 1.5rem;
    color: #d3b717; }

.price {
  font-weight: 700;
  font-size: 1.5rem; }

/* Carrito */
.carrito__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2; }

.carrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  overflow-x: scroll;
  background-color: #f2f2f2;
  opacity: 0;
  visibility: hidden;
  transform: all 300ms ease-in-out; }

.carrito h1 {
  font-size: 2rem;
  font-weight: 600; }

.carrito h3 {
  font-size: 1.5rem;
  font-weight: 600; }

.carrito.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible; }

.carrito__overlay.show {
  visibility: visible; }

.carrito .close__carrito {
  font-size: 4.5rem;
  cursor: pointer;
  color: #222;
  transform: all 300ms ease-in-out; }

.carrito .close__carrito:hover {
  color: #e71247; }

.carrito__item span {
  font-size: 2rem;
  color: #585656; }

.carrito h1 {
  text-align: center;
  margin-bottom: 2rem; }

.item__cantidad {
  font-size: 1.5rem;
  font-weight: 600; }

.decrease:active {
  transform: translatex(2px);
  transform: translatey(2px); }

.increase:active {
  transform: translatex(-2px);
  transform: translatey(-2px); }

.carrito__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto; }

.carrito__item div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.carrito__item div span {
  cursor: pointer; }

.carrito__item img {
  width: 9rem; }

.carrito__item h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem; }

.carrito__item .price {
  color: #0751a6;
  font-weight: 700; }

.carrito__item .remove__item {
  cursor: pointer;
  color: #e71247;
  font-size: 4rem; }

.remove__item:active {
  animation: estirarLateral 0.9s both; }

.carrito__footer {
  text-align: center;
  margin: 3rem; }

.carrito__footer .btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: #ee7979;
  border: none;
  margin-top: 2rem; }

.carrito__footer .btn:focus {
  outline: none; }

.clear__carrito {
  border-radius: 20px; }

.clear__carrito:active {
  animation: estirarLateral 0.9s both; }

@keyframes estirarLateral {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }

@media only screen and (max-width: 1350px) {
  .carrito__item {
    width: 100%; } }

@media only screen and (max-width: 700px) {
  .carrito {
    width: 100%;
    height: 100%;
    border-radius: 0rem; }
  .carrito__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .btn {
    padding: .8rem 1.5rem;
    font-size: 1.6rem; } }

/* Carrito */
.carrito__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2; }

.carrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  overflow-x: scroll;
  background-color: #f2f2f2;
  opacity: 0;
  visibility: hidden;
  transform: all 300ms ease-in-out; }

.carrito h1 {
  font-size: 2rem;
  font-weight: 600; }

.carrito h3 {
  font-size: 1.5rem;
  font-weight: 600; }

.carrito.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible; }

.carrito__overlay.show {
  visibility: visible; }

.carrito .close__carrito {
  font-size: 4.5rem;
  cursor: pointer;
  color: #222;
  transform: all 300ms ease-in-out; }

.carrito .close__carrito:hover {
  color: #e71247; }

.carrito__item span {
  font-size: 2rem;
  color: #585656; }

.carrito h1 {
  text-align: center;
  margin-bottom: 2rem; }

.item__cantidad {
  font-size: 1.5rem;
  font-weight: 600; }

.decrease:active {
  transform: translatex(2px);
  transform: translatey(2px); }

.increase:active {
  transform: translatex(-2px);
  transform: translatey(-2px); }

.carrito__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto; }

.carrito__item div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.carrito__item div span {
  cursor: pointer; }

.carrito__item img {
  width: 9rem; }

.carrito__item h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem; }

.carrito__item .price {
  color: #0751a6;
  font-weight: 700; }

.carrito__item .remove__item {
  cursor: pointer;
  color: #e71247;
  font-size: 4rem; }

.remove__item:active {
  animation: estirarLateral 0.9s both; }

.carrito__footer {
  text-align: center;
  margin: 3rem; }

.carrito__footer .btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: #ee7979;
  border: none;
  margin-top: 2rem; }

.carrito__footer .btn:focus {
  outline: none; }

.clear__carrito {
  border-radius: 20px; }

.clear__carrito:active {
  animation: estirarLateral 0.9s both; }

@keyframes estirarLateral {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }

@media only screen and (max-width: 1350px) {
  .carrito__item {
    width: 100%; } }

@media only screen and (max-width: 700px) {
  .carrito {
    width: 100%;
    height: 100%;
    border-radius: 0rem; }
  .carrito__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .btn {
    padding: .8rem 1.5rem;
    font-size: 1.6rem; } }

.saludo {
  width: 100%;
  height: 3rem;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  background-color: #252525;
  color: #f3f3f3; }

.header__inicio {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: #ffcaa6; }

.inicio__logo {
  font-size: 3rem;
  font-weight: 600; }

.inicio__cart {
  width: 600px; }

.titulo {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #ffcaa6; }
  .titulo .logo {
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    color: #252525;
    text-align: center;
    padding: 0.8rem 0; }

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #f3f3f3;
  border-bottom: #010101 2px solid;
  font-weight: 500; }

@media only screen and (max-width: 768px) {
  .html {
    font-size: 10px; }
  .container {
    padding: 0 5rem; } }

.carrito__icon {
  position: relative;
  cursor: pointer; }

.carrito__icon i {
  margin-top: .6rem;
  font-size: 2rem;
  color: red; }

.carrito__icon span {
  position: absolute;
  top: -.2rem;
  right: -1rem;
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%; }

.category h3 {
  text-align: center;
  font-weight: 600;
  margin-top: 0.5rem; }

.category__select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: px;
  background-color: #f3f3f3;
  border: none; }

.category__select option:focus {
  text-decoration: none;
  border: none; }

.filtro h3 {
  margin-bottom: 0.3rem;
  text-align: center;
  transform: translate(-8px);
  font-weight: 600; }

.filtro label {
  margin-right: 1rem; }

.filtro label input {
  margin-right: 0.5rem; }

.input-buscar {
  padding: 0.5rem 0.2rem; }

.btn-buscar {
  border: 1px solid #ffcaa6;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #ffcaa6;
  animation: all 0.3s ease-in-out; }

.btn-buscar:hover {
  transform: translatex(-1px);
  transform: translatey(1px); }

body {
  background-color: red; }

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  background-color: #fcf7e8; }
  .main__texto {
    height: 50%;
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start; }
  .main__img {
    width: 30vw; }
    .main__img .img {
      border-radius: 20%; }

.texto__uno {
  font-size: 2.5rem; }

.texto__dos {
  font-size: 1rem;
  margin-top: 1rem; }

.texto__btn {
  width: 250px;
  height: 80px;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #98c5ff;
  border-right: 2px solid #98c5ff;
  border-radius: 10px;
  background-color: #ffcaa6;
  transition: all .3s ease-in-out; }
  .texto__btn:hover {
    background-color: #f47915;
    font-size: 2.2rem;
    padding: 1rem .2rem; }

.footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  background-color: #f3f3f3; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    font-size: 1.5rem; }
  .footer__pie {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #444444; }

.nav__item a {
  font-size: 1.2rem; }

.pie__logo a {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer; }

.pie__legal {
  width: 100%;
  text-align: left;
  padding-left: 3rem;
  color: white; }

.pie__redes {
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  margin-left: 3px;
  color: white; }

.productos {
  padding: 10rem 0 3rem 0; }
  .productos .productos__center {
    padding: 0 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
    /*Text*/
    /*Button*/
    /*Hover*/ }
    .productos .productos__center .card {
      width: 190px;
      height: 320px;
      padding: .8rem;
      background: #f5f5f5;
      position: relative;
      border-radius: 1rem;
      overflow: visible;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
      animation: all .5s ease-in-out;
      margin-top: 1rem; }
    .productos .productos__center .card-img {
      background-color: #ffcaa6;
      height: 50%;
      width: 100%;
      border-radius: 1rem;
      transition: .3s ease; }
    .productos .productos__center .max {
      max-width: 120px;
      margin: 0 auto; }
    .productos .productos__center .card-info {
      padding-top: 10%; }
    .productos .productos__center svg {
      width: 20px;
      height: 20px; }
    .productos .productos__center .card-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ddd; }
    .productos .productos__center .text-title {
      font-weight: 900;
      font-size: 1.2rem;
      line-height: 1.5; }
    .productos .productos__center .text-body {
      font-size: .9rem;
      padding-bottom: 10px; }
    .productos .productos__center .card-button {
      border: 1px solid #252525;
      display: flex;
      padding: .3rem;
      cursor: pointer;
      border-radius: 50px;
      transition: .3s ease-in-out; }
    .productos .productos__center .card-img:hover {
      transform: translateY(-25%);
      box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px; }
    .productos .productos__center .card-button:hover {
      border: 1px solid #ffcaa6;
      background-color: #ffcaa6; }
    .productos .productos__center .card:hover {
      transform: scale(1.1); }

.remove-f {
  visibility: hidden; }

body {
  background-color: #fff; }

.detalles {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 3rem; }

.detalle-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr; }

.detalles .img-fluid {
  max-width: 380px;
  width: 100%;
  margin: 5rem auto;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2); }

.detalles-content {
  padding: 2rem; }

.detalles-content h3 {
  font-weight: 600;
  text-transform: uppercase; }

.detalles-content .description {
  padding: 1rem; }

.detalles-content .description span {
  line-height: 2rem; }

@media only screen and (max-width: 840px) {
  .detalle-grid {
    grid-template-columns: 1fr; } }
