.productos {
    padding: 10rem 0 3rem 0;

    .productos__center {
        padding: 0 3rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;


        .producto {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, .2);
            border-radius: 10px;

            .max {
                max-width: 200px;
                max-height: 200px;
            }

            .producto__footer {
                padding: 0.5rem 1rem;
                width: 100%;

            }


        }
    }
}
.carrito__icon{
    position: relative;
    cursor: pointer;
}
.carrito__icon i{
    margin-top: .6rem;
    font-size: 3.5rem;
    color: red;
}
.carrito__icon span{
    position: absolute;
    top: -.4rem;
    right: -2rem;
    background-color: red;
    color: white;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius:50%;
}