@import "./componentes/carrito";
.saludo{
    width: 100%;
    height: 3rem;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    background-color: #252525;
    color: #f3f3f3;
}
.header__inicio{
   display: flex;
   justify-content: space-around;
   padding: 1rem 0;
   background-color: #ffcaa6;
}
.inicio__logo{
    font-size: 3rem;
    font-weight: 600;
}
.inicio__cart{
    width: 600px;


}
.titulo{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color:  #ffcaa6;

    .logo {       
       
        font-size: 3rem;
        font-weight: 700;
        cursor: pointer;       
        color: #252525 ;
        text-align: center;
        padding: 0.8rem 0;
    }
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 5rem;
    @include flexible(flex, row, nowrap, space-around, center);
    padding: 0.5rem 0;
    background-color: #f3f3f3;
    border-bottom: #010101 2px solid;
    font-weight: 500; 
}


@media only screen and (max-width: 768px){
    .html{
        font-size: 10px;
    }
    .container{
        padding: 0 5rem;
    }
}
.carrito__icon{
    position: relative;
    cursor: pointer;
}
.carrito__icon i{
    margin-top: .6rem;
    font-size: 2rem;
    color: red;
}
.carrito__icon span{
    position: absolute;
    top: -.2rem;
    right: -1rem;
    // background-color: red;
    color: red;
    // padding: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius:50%;
}
.category h3{
    text-align: center;
    font-weight: 600;
    margin-top: 0.5rem;
}
.category__select{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: px;
    background-color: #f3f3f3;   
    border: none;
}
.category__select option:focus{
    text-decoration: none;
    border: none;
}
.filtro h3{
    margin-bottom: 0.3rem;
    text-align: center;
    transform: translate(-8px);
    font-weight: 600;
}
.filtro label{
    margin-right: 1rem;
}
.filtro label input{
    margin-right:  0.5rem;
   
}