body{
    background-color: #fcf7e8;
}
.main {   
    @include flexible(flex, row, nowrap, space-around, center);  

    &__texto {  
        height: 50%;
        width: 35%;
        @include flexible(flex, column, nowrap, start, start);}

    &__img {
        width: 30vw;
        .img {            
            border-radius: 20%;
        }
    }

}

.texto {
    &__uno {
        font-size: 2.5rem;

    }

    &__dos {
        font-size: 1rem;
        margin-top: 1rem;
    }

    &__btn {
        width: 250px;
        height: 80px;
        margin-top: 1.5rem;
        padding: 1rem ;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid #98c5ff;
        border-right: 2px solid #98c5ff;
        border-radius: 10px;
        background-color: #fff398a3;
        transition: all .3s ease-in-out;

        &:hover {         
            background-color:#f47915;
            font-size: 2.2rem;
            padding: 1rem .2rem;
            
        }

    }
}